---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.page-header {
  padding:1.5rem !important;
}

.page-header .btn {
  display:none;
}

.page-header .project-tagline {
  display:none;
}

.page-header .project-name {
  padding:0px;
  margin:0px;
  font-size:2.675rem !important;
}

footer {
  display:none;
}

.main-content {
  max-width:80rem !important;
}

li {
    margin-bottom:0.5rem;
}

h1 {
    text-align: center;
}

:not(code) {
    font-family: 'Quicksand', sans-serif;
}

div.highlight {
    background: none;
}

pre.highlight {
    border:0px black;
    border-radius: 0.5rem !important;
    background-color: #f4f6f8;
}