---
---

@import "{{ site.theme }}";

.page-header {
  padding:1.5rem !important;
}

.page-header .btn {
  display:none;
}

.page-header .project-tagline {
  display:none;
}

.page-header .project-name {
  padding:0px;
  margin:0px;
  font-size:3rem !important;
}

footer {
  display:none;
}

.main-content {
  max-width:80rem !important;
}
