---
---

$section-headings-color: #E94057;
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.navbar {
    background: linear-gradient(to right, #8A2387, #E94057, #F27121);

    .project-name {
      padding:0px;
      margin:0px;
      font-size:2.5rem !important;
    }
}

.main-content {
    max-width:80rem !important;
}

li {
    margin-bottom:0.5rem;
}

h1 {
    text-align: center;
}

:not(code) {
    font-family: 'Quicksand', sans-serif;
}

code, span {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

div.highlight {
    background: none;
}

pre.highlight {
    border:0px black;
    border-radius: 0.5rem !important;
    background-color: #f4f6f8;
    padding: 1rem !important;
}